/* CSS Document */

* {
	box-sizing: border-box;
}
html, body, header, nav, nav ul {
	margin: 0;
	padding: 0;
}
html, body {
	background-color: #1C1D26;
}
.content {
	max-width: 960px;
	margin: 0 auto;
}
body {
	color: white;
}
h1, h2 {
	text-align: center;
}
article {
	margin: 50px 0;
}
article h1 {
	font-size: 1.5em;
}
article h2 {
	font-size: 1.2em;
}
p {
	padding: 0 5%;
}
